<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="stdout" value="stdout"/>
    <property name="jvLink" value="jvLink"/>
    <property name="ipatgo" value="ipatgo"/>


    <!-- ローカル用設定 -->
    <springProfile name="dev">
        <property name="logFilePath" value="./log/"/>
    </springProfile>

    <!-- production用設定 -->
    <springProfile name="prd">
        <property name="logFilePath" value="./log/"/>
    </springProfile>


    <!--    &lt;!&ndash; コンソール出力 &ndash;&gt;-->
    <!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <target>System.out</target>-->
    <!--        <encoder>-->
    <!--            <charset>UTF-8</charset>-->
    <!--            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- stdout ログファイル書き出し -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}${stdout}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${stdout}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- JvLink Client ログファイル書き出し -->
    <appender name="APPLICATION_LOG_JVLINK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}${jvLink}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${jvLink}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- JvLink Wrapper ロガー -->
    <logger name="org.uma.external.jvlink.JvLinkWrapper" level="debug" additivity="false">
        <appender-ref ref="APPLICATION_LOG_JVLINK"/>
    </logger>

    <!-- JvLink Watch ロガー -->
    <logger name="org.uma.external.jvlink.JvLinkWatch" level="info" additivity="false">
        <appender-ref ref="APPLICATION_LOG_JVLINK"/>
    </logger>

    <!-- root ロガー -->
    <root level="INFO">
        <appender-ref ref="APPLICATION_LOG"/>
    </root>


</configuration>